@model Sispmed.Core.Domain.Convenios

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Convenios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CosConv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CosConv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurConv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurConv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecAper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecAper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomConv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomConv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjConv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjConv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eps.NomEps)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
