@model Sispmed.Core.Domain.Citas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Citas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acompanante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acompanante.MailAcom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.CiuRes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sede)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sede.DirSede)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
