@model IEnumerable<Sispmed.Core.Domain.Users>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}


<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Primer Nombre
            </th>
            <th>
                Empleado
            </th>
            <th>
                Rol
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.PNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol.NomRol)
            </td>
            <td>
                <a class="editar" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a class="eliminar" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
