@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8" />
    <title>Belmemdoc-UI</title>
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <script src="~/js/iconos.js"></script>
</head>
<body>
    <input type="checkbox" id="check" />
    <label for="check">
        <i class="fas fa-angle-double-right" id="btn"></i>
        <i class="fas fa-angle-double-left" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header><a href="@Url.Action("DashBoard", "Navegacion")"><img class="logo " src="~/img/logo2.png" alt="Alternate Text" /></a></header>
        <ul>
            <li><a href="@Url.Action("DashBoard", "Navegacion")"><i class="fas fa-home"></i>Dashboard</a></li>
            <li><a href="@Url.Action("Index", "User")"><i class="fas fa-archive"></i>Usuarios</a></li>
            <li><a href="@Url.Action("Index", "Paciente")"><i class="fas fa-archive"></i>Pacientes</a></li>
            <li><a href="@Url.Action("Index", "CategoriaInsumo")"><i class="fas fa-table"></i>Categorías</a></li>
            <li><a href="@Url.Action("Index", "Insumo")"><i class="fas fa-share-square"></i>Insumos</a></li>
            <li><a href="@Url.Action("Index", "Navegacion")"><i class="fas fa-share-square"></i>Salir</a></li>
        </ul>
    </div>
    <section>
        <div class="sombra">
            <div class="cerrar-sesion"></div>
            <div class="interfaz-modulos">
            </div>

    </section>
    <footer><h2>Derechos reservados SISPMED © | 2020</h2></footer>
</body>
</html>