@model Sispmed.Core.Domain.StockInsumos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockInsumos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entradas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entradas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salidas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insumo.CodIns)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
