@model Sispmed.Core.Domain.Pacientes

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pacientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiuRes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiuRes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirRes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirRes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECivil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailPac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailPac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecNac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecNac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIdPac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIdPac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PApe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PApe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PNom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Regimen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Regimen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SApe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SApe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SNom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelPac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelPac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eps.NomEps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoId.NomTipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
