@model IEnumerable<Sispmed.Core.Domain.Insumos>

@{
    ViewData["Title"] = "Insumos";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                ML/MG
            </th>
            <th>
                Laboratorio
            </th>
            <th>
                Nombre
            </th>
            <th>
                Precio
            </th>
            <th>
                Presentacion
            </th>
            <th>
                Cantidad
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodIns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Labora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomIns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.NomCate)
            </td>
            <td>
                <a class="editar" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a class="eliminar" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
